---
Checks: '-llvm-*,bugprone-*,modernize-*,performance-*,readability-*,-llvm-header-guard,-cppcoreguidelines-header-guard'
WarningsAsErrors: ''
HeaderFilterRegex: '^((?!.*\.local).)*$'
ExcludeHeaderFilterRegex: '.*(\.local|/usr/).*'
SystemHeaders: true
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
