---
Checks: 'bugprone-*,modernize-*,performance-*,readability-*'
WarningsAsErrors: ''
HeaderFilterRegex: '^((?!.*\.local/include).)*$'
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
...
